# -*- mode: snippet -*-
# name: drawer / restclient
# key: d
# condition: (= (current-column) 1)
# --
:PROPERTIES:
:header-args:restclient: :var s="http://${1:127.0.0.1/index.php?s}"$0
:exports:  code
:END: