# -*- mode: snippet -*-
# name: drawer / sql-mode
# key: d
# condition: (= (current-column) 1)
# --
:PROPERTIES:
:header-args+: :engine mysql
:header-args+: :dbuser root :dbpassword root
:header-args+: :dbhost localhost :database ${1:mysql}
:END: