# -*- mode: snippet -*-
# name: drawer / sqli
# key: d
# condition: (= (current-column) 1)
# --
:PROPERTIES:
:engine:   mysql
:dbhost:   localhost
:database: ${1:mysql}
:dbuser:   root
:dbpassword: root
:exports:  code
:END:
