# -*- mode: snippet -*-
# name: :drawer:
# key: :
# condition: (and (<= (current-column) 1) (not (im-org-in-drawer-p)))
# --
:`(yas-completing-read "DRAWER: " '("PROPERTIES" "LOGBOOK") nil nil nil nil "PROPERTIES")`:
$0
:END: