# -*- mode: snippet -*-
# name: drawer (sql-mode)
# key: dha
# condition: (<= (current-column) 3)
# --
:PROPERTIES:
:header-args:sql+: :engine mysql
:header-args:sql+: :dbuser root :dbpassword root
:header-args:sql+: :dbhost localhost :database ${1:mysql}
:END: