# -*- mode: snippet -*-
# name: drawer (tikz)
# key: dha
# condition: (= (current-column) 3)
# --
:PROPERTIES:
:header-args+: :header \usepackage{xcolor}
:header-args+: :before \usetikzlibrary{calc}
:END: