# -*- mode: snippet -*-
# name: #+PROPERTY: header-args
# key: #ha
# condition: (<= (current-column) 3)
# --
#+PROPERTY: header-args :${1:cache yes :noweb yes :results none :mkdirp yes :padline yes :async}