# -*- mode: snippet -*-
# name: :header-args:L:
# key: :haa
# condition: (<= (current-column) 4)
# --
`(if (im:org-in-drawer-p) "" ":PROPERTIES:\n")`:header-args:$1: :${2:var}$0`(if (im:org-in-drawer-p) "" "\n:END:")`