# -*- mode: snippet -*-
# name: org header
# key: header
# condition: (= (current-column) 6)
# --
#+DRAWERS: HIDDEN PROPERTIES STATE CABECALHO COMENTARIOS
:CABECALHO:
#+STARTUP:   showeverything
#+LANGUAGE:  zh_CN
#+OPTIONS:   ^:nil p:nil
#+OPTIONS:   H:2 num:t toc:f \n:nil @:t ::t |:t ^:t -:t f:t *:t <:t
#+OPTIONS:   tags:nil
#+TAGS:      export(e) noexport(n)
#+EXPORT_EXCLUDE_TAGS: noexport
#+AUTHOR: lorniu
:END:
#+TITLE: $0
