# -*- mode: snippet -*-
# name: P/HTML
# key: h
# condition: (<= (current-column) 1)
# --
#+${$$(yas-completing-read "Choose:" '("HTML" "HTML_HEAD" "HTML_HEAD_EXTRA" "ATTR_HTML") nil nil nil nil "HTML")}: $0