# -*- mode: snippet -*-
# name: impress-property
# key: sm
# --
#+${$$(yas-choose-value '("IMPRESS_FILE_JS" "IMPRESS_FILE_CSS" "IMPRESS_EXT_HEAD" "IMPRESS_INITAL" "IMPRESS_BASE_CLASS" "IMPRESS_ROOT" "IMPRESS_TITLE" "IMPRESS_TOC" "IMPRESS_PAGE_HEADER" "IMPRESS_PAGE_FOOTER"))}: $0