# -*- mode: snippet -*-
# name: P/LaTeX
# key: l
# condition: (<= (current-column) 1)
# --
#+${$$(yas-completing-read "Choose:" '("LaTeX" "LaTeX_HEAD" "LaTeX_HEAD_EXTRA" "ATTR_LaTeX") nil nil nil nil "LaTeX")}: $0
