# -*- mode: snippet -*-
# name: restclient drawer
# key: :rest
# condition: (<= (current-column) 5)
# --
:PROPERTIES:
:header-args:restclient: :var s="http://${1:127.0.0.1/?s}"$0
:exports:  code
:END: