# -*- mode: snippet -*-
# name: src/TikZ
# key: <si
# condition: (and (<= (current-column) 3))
# expand-env: ((yas-indent-line 'fixed) (yas-wrap-around-region 'nil))
# --
#+begin_src tikz :file ${1:xxx}.svg
  \begin{tikzpicture}
  $0
  \end{tikzpicture}
#+end_src