# -*- mode: snippet -*-
# name: src/mysql
# key: <sql
# condition: (<= (current-column) 4)
# --
#+begin_src sql :engine mysql :dbhost localhost :dbuser root :dbpassword root :database mysql
$0
#+end_src