# -*- mode: snippet -*-
# name: button
# key: bss
# group: twitter-bootstrap
# --
<button type="button" class="btn btn-${1:$$(yas-choose-value '("default" "primary" "success" "info" "warning" "danger" "link"))}"$2>$3</button>$0