# name: Card - More
# key: bs4
# group: twitter-bootstrap
# --

<!-- wrappers: card-group/card-deck/card-colums -->
<div class="card">
  <img class="card-img" src="" alt="Beauty">
  <img class="card-img-overlay" src="" alt="Beauty">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">标题</h5>
    <p class="card-text">我是内容</p>
    <a href="#">Leave Me Alone</a>
  </div>
  <div class="card-footer">Footer</div>
</div>