# name: Jumbotron (展台)
# key: bs4
# group: twitter-bootstrap
# --

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">流动，大气</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>