/*
!README.md
!CHANGELOG.md
!.gitignore
!early-init.el
!init.el
!init-min.el
!Makefile
!/bin
!/core
!/extra
!/repo
!/site-lisp
!/clone
!/share
!/snippets
!/themes
!/.gitsubmodule
__pycache__/
_*
.git.bk
*.elc
*.html
*/**/.gitignore
