/*
!README.md
!CHANGELOG.md
!.gitignore
!init.el
!early-init.el
!mini-init.el
!Makefile
!/bin
!/core
!/extra
!/site-lisp
!/clone
!/share
!/snippets
!/themes
__pycache__/
_*
.git.bk
*.elc
*.html
*/**/.gitignore
