[submodule "mpvi"]
	path = repo/mpvi
	url = git@github.com:lorniu/mpvi
[submodule "bilibili"]
	path = repo/bilibili
	url = git@github.com:lorniu/bilibili.el.git
[submodule "ox-spectacle"]
	path = repo/ox-spectacle
	url = git@github.com:lorniu/ox-spectacle
[submodule "go-translate"]
	path = repo/go-translate
	url = git@github.com:lorniu/go-translate
[submodule "emacs-dropbox"]
	path = repo/emacs-dropbox
	url = git@github.com:lorniu/emacs-dropbox
[submodule "tree-sitter-module"]
	path = share/tree-sitter-module
	url = https://github.com/casouri/tree-sitter-module
[submodule "nov-xwidget"]
	path = site-lisp/nov-xwidget
	url = https://github.com/chenyanming/nov-xwidget
[submodule "lsp-bridge"]
	path = site-lisp/lsp-bridge
	url = https://github.com/manateelazycat/lsp-bridge
[submodule "el-easydraw"]
	path = site-lisp/el-easydraw
	url = https://github.com/misohena/el-easydraw
