[submodule "nov-xwidget"]
	path = site-lisp/nov-xwidget
	url = https://github.com/chenyanming/nov-xwidget
[submodule "el-easydraw"]
	path = site-lisp/el-easydraw
	url = https://github.com/misohena/el-easydraw
[submodule "repo/pdd"]
	path = repo/pdd
	url = git@github.com:lorniu/pdd.el
[submodule "repo/gt"]
	path = repo/gt
	url = git@github.com:lorniu/gt.el
[submodule "repo/mpvi"]
	path = repo/mpvi
	url = git@github.com:lorniu/mpvi
[submodule "repo/bilibili"]
	path = repo/bilibili
	url = git@github.com:lorniu/bilibili.el
[submodule "repo/dropbox"]
	path = repo/dropbox
	url = git@github.com:lorniu/dropbox.el
[submodule "repo/ox-spectacle"]
	path = repo/ox-spectacle
	url = git@github.com:lorniu/ox-spectacle
[submodule "repo/org-expose-emphasis-markers"]
	path = repo/org-expose-emphasis-markers
	url = git@github.com:lorniu/org-expose-emphasis-markers
[submodule "repo/speak-buffer"]
	path = repo/speak-buffer
	url = git@github.com:lorniu/speak-buffer.el
