# -*- mode: snippet -*-
# name: request with headers
# key: r
# --

GET https://api.github.com
User-Agent: Emacs Restclient
Accept-Encoding: compress, gzip
Content-type: text/plain
Cookie: name=restclient