# key: bs
# name: Figure
# group: twitter-bootstrap
# --

<figure class="figure">
    <img src="" class="figure-img img-fluid rounded" alt="No Pic">
    <figcaption class="figure-caption">
        ${<a href="#" >Describe</a>}
    </figcaption>
</figure>