# name: Bootstrap4's JS CDN
# key: cdn
# group: CDN
# --

<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.slim.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/popper.js/2.11.2/umd/popper.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.js"></script>
