# -*- mode: snippet -*-
# name: pyrightconfig.json
# key: pyright
# --

{
  "exclude": ["**/node_modules", "**/__pycache__"],
  "ignore": ["**/node_modules", "**/__pycache__"],
  "include": ["flextensor", "tvm"]
  "pythonPlatform": "Linux",
  "pythonVersion": "3.9",
  "reportMissingImports": true,
  "reportMissingTypeStubs": false,
  "stubPath": "_typings",
  "typeCheckingMode": "basic",
  "venvPath": "/home/vip/tmp/virtualenvs",
  "venv": "flextensor-venv"
}