# -*- mode: snippet -*-
# name: im.completion-category-and-styles
# key: ic
# --
(setq completion-styles '(orderless basic)
      completion-category-overrides '((file (styles basic partial-completion)))
      completion-category-defaults nil)