# -*- mode: snippet -*-
# name: ic/faces
# key: ic
# --

(setq ic/faces (list
               :title "imfine"
               :frame 'max
               :theme 'gruvbox-dark-hard
               :font '("Sarasa Mono SC" . 165)
               :font-unicode '("WenQuanYi" . nil)))