# -*- mode: snippet -*-
# name: ic/faces
# key: ic
# --

(setq ic/faces (list
               :title "imfine"
               :frame 'max
               :theme 'zero-dark
               :font (cons "Consolas" 120)))
