# -*- mode: snippet -*-
# name: ic/initial-scratch-message
# key: ic
# --

(setq initial-scratch-message
      (format "%s%s\n\n"
              initial-scratch-message
              ";; (slide-mode org-mode lisp-interaction-mode)"))