# -*- mode: snippet -*-
# name: im.org-mode
# key: ic
# --

(setq org-directory ".../notes/.src/"
      org-publish-directory ".../notes/html/"
      agenda-directory org-directory
      org-roam-directory org-directory)

(setq org-agenda-files (file-expand-wildcards (expand-file-name "*.org" agenda-directory)))
