# -*- mode: snippet -*-
# name: ic/org-babel:sql
# key: ic
# --

(setq org-babel-default-header-args:sql
      '((:engine . "mssql")
        (:dbuser . "sa")
        (:dbpassword . "sa")
        (:dbhost . "localhost")
        (:database . "oa")))