# -*- mode: snippet -*-
# name: page template
# key: t
# --
;;; `(file-name-nondirectory (buffer-file-name))` --- ${2:description} -*- lexical-binding: t -*-
;;; Commentary:
;;; Code:

$0

(provide '`(file-name-sans-extension (file-name-nondirectory (buffer-file-name)))`)

;;; `(file-name-nondirectory (buffer-file-name))` ends here
